[project]
name = "pyapi-server"
version = "0.3.4"
description = "Lightweight API framework using an OpenAPI spec for routing and validation."
readme = "README.md"
license = {text = "MIT"}
authors = [
    {name = "Berislav Lopac", email = "berislav@lopac.net"},
]
requires-python = ">=3.8,<4.0"
dependencies = [
    "PyYAML>=5.4",
    "stringcase>=1.2.0",
    "openapi-core>=0.16.1",
    "starlette>=0.21.0",
]

[project.urls]
homepage = "https://pyapi-server.readthedocs.io"
documentation = "https://pyapi-server.readthedocs.io"
repository = "https://github.com/berislavlopac/pyapi-server"

[project.optional-dependencies]
uvicorn = [
  "uvicorn>=0.18.3"
]

[build-system]
requires = ["pdm-pep517>=1.0.0"]
build-backend = "pdm.pep517.api"

[tool.pdm.build]
includes = ["pyapi/server/"]

[tool.pdm.dev-dependencies]
dev = [
    "pytest-asyncio>=0.18.3",
    "pytest-cov>=3.0.0",
    "pytest-flake8>=1.1.1",
    "pytest-mypy>=0.9.1",
    "requests>=2.27.1",
    "pytest>=7.1.1",
    "black>=22.1.0",
    "pydocstyle>=6.1.1",
    "mypy>=0.942",
    "toml>=0.10.2",
    "pytest-spec>=3.2.0",
    "isort>=5.10.1",
    "tox>=4.4.6",
    "tox-pdm>=0.6.1",
    "ruff>=0.0.253",
]
docs = [
    "mkdocs>=1.3.0",
    "mkdocs-material>=8.5.6",
]

[tool.pdm.scripts]
tests.cmd = "pytest --spec --cov"
check-lint.shell = """
    ruff pyapi/
    black --check .
    isort --check .
"""
check-typing.cmd = "mypy --install-types --non-interactive pyapi/"
check-docs.cmd = "pydocstyle pyapi/"
checks.composite = ["check-lint", "check-typing", "check-docs"]
new-commits.shell = "git log $(git describe --tags --abbrev=0)..HEAD --oneline --no-decorate"

[tool.pytest.ini_options]
asyncio_mode = "auto"

[tool.coverage.run]
source = [ "pyapi/", ]
omit = [ "*/tests/*", ]

[tool.coverage.report]
skip_covered = false
show_missing = true
fail_under = 80
exclude_lines = [ "pragma: no cover", "@abstract",]

[tool.black]
line-length = 96
target-version = ['py38', 'py39', 'py310', 'py311', 'py312']
verbose = false
skip-string-normalization = false

[tool.isort]
profile = "black"
line_length = 96
filter_files = true
force_alphabetical_sort_within_sections = true

[tool.ruff]
select = ["E", "F", "W", "D", "PL", "ERA", "N"]
ignore = ["D104", "D107", "D203", "D212", "D401", "D407", "PLR0913"]
line-length = 96
target-version = "py38"
output-format = "grouped"

[tool.pydocstyle]
add-ignore = "D104, D107, D212, D401"
convention = "google"
match-dir = "^(?!tests|examples).*"

[tool.mypy]
mypy_path = "pyapi/"
ignore_missing_imports = true
