[project]
name = "pyapi-server"
version = "0.5.0"
description = "Lightweight API framework using an OpenAPI spec for routing and validation."
readme = "README.md"
license = {text = "MIT"}
authors = [
    {name = "Berislav Lopac", email = "berislav@lopac.net"},
]
requires-python = ">=3.8,<4.0"
dependencies = [
    "PyYAML>=5.4",
    "stringcase>=1.2.0",
    "openapi-core>=0.18",
    "starlette>=0.21.0",
    "jsonschema-path>=0.3.2",
]

[project.urls]
homepage = "https://pyapi-server.readthedocs.io"
documentation = "https://pyapi-server.readthedocs.io"
repository = "https://github.com/berislavlopac/pyapi-server"

[project.optional-dependencies]
uvicorn = [
  "uvicorn>=0.18.3"
]

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[tool.pdm.build]
includes = ["pyapi/server/"]

[tool.pdm.dev-dependencies]
dev = [
    "pytest-asyncio>=0.18.3",
    "pytest-cov>=3.0.0",
    "pytest-flake8>=1.1.1",
    "pytest-mypy>=0.9.1",
    "requests>=2.27.1",
    "pytest>=7.1.1",
    "pydocstyle>=6.1.1",
    "mypy>=0.942",
    "toml>=0.10.2",
    "pytest-spec>=3.2.0",
    "isort>=5.10.1",
    "tox>=4.4.6",
    "tox-pdm>=0.6.1",
    "ruff>=0.0.253",
]
docs = [
    "mkdocs>=1.3.0",
    "mkdocs-material>=8.5.6",
]

[tool.pdm.scripts]
tests.cmd = "pytest --spec --cov"
check-lint.shell = """
    ruff check .
    ruff format --check .
    isort --check .
"""
reformat.shell = """
    isort .
    ruff format .
"""
check-typing.cmd = "mypy --install-types --non-interactive"
checks.composite = ["check-lint", "check-typing"]
new-commits.shell = "git log $(git describe --tags --abbrev=0)..HEAD --oneline --no-decorate"

[tool.pytest.ini_options]
asyncio_mode = "auto"

[tool.coverage.run]
source = [ "pyapi/", ]
omit = [ "*/tests/*", ]

[tool.coverage.report]
skip_covered = false
show_missing = true
fail_under = 80
exclude_lines = [ "pragma: no cover", "@abstract",]

[tool.isort]
profile = "black"
line_length = 96
filter_files = true
force_alphabetical_sort_within_sections = true

[tool.ruff]
line-length = 96
target-version = "py311"
output-format = "grouped"

[tool.ruff.lint]
select = [  # see https://docs.astral.sh/ruff/rules/
    "E4", "E7", "E9",  # basic pycodestyle rules
    "W",     # pycodestyle warnings
    "F",     # Pyflakes rules
    "D",     # pydocstyle checks
#    "N",     # PEP8 naming conventions
#    "PLR",   # Pylint refactoring recommendations
#    "PTH",   # recommends to use pathlib instead of os.path
#    "UP",    # pyupgrade suggestions
#    "BLE",   # locates blind exception capture
#    "B",     # locates possible bugs and design problems
#    "A",     # locates shadowing of builtin names
#    "C4",    # locates possible issues with comprehensions
#    "DTZ",   # locates incorrect use of timezone information
#    "PIE",   # miscellaneous linting rules
#    "TRY",   # locates potential exception handling antipatterns
#    "PERF",  # locates potential performance issues
#    "RUF",   # various Ruff-specific linting rules
]
ignore = ["D104", "D107", "D203", "D212", "D401", "D407", "D413"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401"]
"tests/*" = ["D"]
"example/*" = ["D"]

[tool.mypy]
mypy_path = "pyapi/"
files = ["pyapi/"]
ignore_missing_imports = true
